body {
  text-align: center;
  background-color: #121212;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(82, 82, 82);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Contacts-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

.Contact-card{
  background-color: #438b8c;
  width: 17rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem; 
  box-shadow: 20px;
  justify-self: center;
}

.Contact-card:hover{
  background-color: #74a1b8;
  box-shadow: 2px 2px #7d7e7e;
}

h1{
  color:rgb(206, 206, 206)
}

.Modal-text{
  color: whitesmoke
}